[2020-04-26 18:26] OwenMelbz opened #3 "[Improvement] Optional attributes to be more quiet"
Hey, good work so far!

Just trying out some common use cases that cause complications in other systems with things that can cause aggravation!

I've got 1 issue that would improve the developer experience and that is the idea of optional attributes to allow avoiding conditional code everywhere.

This is a very dumbed down example, but imagine your user data is stored on an API and you need to fet

[2020-04-26 18:55] ryangjchandler commented on #3
Hey @OwenMelbz , thanks for giving the package a try! Both of these are on my list already, I'm aiming for full IE11 support in v1.x, I still need to write tests for the current version 😅

Good shout with the optional attributes and the current errors that occur. What would you suggest returning as a default value, undefined is normally a good choice...

[2020-04-26 19:32] OwenMelbz commented on #3
well... that’s a tricky one!!!

Laravel opts for the null object pattern, so fans of that would like null.

technically it would be correct to be undefined as it’s well... not 😂

it’s nicer to write `variable === null` than `typeof variable === “undefined”`

but also if people were to do something like.....

`$store.user.name.toLowerCase()` then undefined and null will throw errors. so i’m that in

[2020-04-26 19:38] ryangjchandler commented on #3
Yeah I like the concept of an options API too... clever thinking. I'd lean for the undefined approach maybe, and leave the rest down to the developer (if they use method calls on undefined etc).

[2020-04-26 19:42] ryangjchandler opened #4 "Add shorthand access to store namespaces"
Nice suggestion from @breadthe on Twitter:

https://twitter.com/brbcoding/status/1254489574274973696?s=20

Would add support for accessing `Spruce.store('application', {})`... using `$application` instead of `$store.application`

[2020-04-27 03:27] devcircus commented on #4
Instead of using x-subscribe, you can customize the variable however you want in x-init. So if you have:
[code]
Use the following to access with ```app```:
[code]
Then, in your component, you can use, for example, ```x-model="app.name"``` instead of ```x-model="$store.application.name```.

[2020-04-27 05:05] devcircus commented on #3
seems like the null situation is something that's inherent in the language itself which shows up in Vue, React, Alpine, etc. etc. Not sure I'd want those errors suppressed. One way to avoid the conditionals is to be more specific when defining the object. So instead of ```{ user: null }```, use:
[code]
But I guess if it can be handled in a universal way that satisfies all possible dev preferences

[2020-04-27 07:13] OwenMelbz commented on #3
the reason didn’t want to go down this route was because imagine if you have say 20 properties on 5 different stores will get massive and unwieldily, or using GraphQL where the results are dynamic, pretty grim having to write these all out from an “experience” point of view

[2020-04-27 08:23] ryangjchandler commented on #4
Yeah that's one way of doing it currently.

[2020-04-27 09:53] ryangjchandler opened #5 "Submit to NPM"
For those who want to use the ESM version of Spruce and manage their stores in external scripts, the package needs to be submitted to the NPM registry.

An ESM build already exists, so it could be done already by copying the /dist file, but that's dirty.

[2020-04-27 17:05] muzafferdede opened #7 "[Feature Request] Storing data in `localStorage` and `sessionStorage`"
Hi Ryan and everyone,

I was wondering around the package and i got some thoughts as:

Somehow storing data in the `localStorage` or `sessionStorage` and using it via getters and setters. I think code will explain itself.

[code]
using in JS as
[code]
I hope i could described it clear. It's open to discussion and will be great to hear what you guys think.

Cheers.

[2020-04-27 17:09] HugoDF commented on #7
Might be worth allowing an extension point that intercepts updates to the store?

[2020-04-27 17:13] muzafferdede commented on #7
I am not sure how the `reactivity` stays during application is live. But i think there might be a way to define `driver` as storage point. Where could we store the data? `memory`, localStorage`, `sessionSorage` if i am not wrong? and maybe some way to use multiple driver. ideas ideas ideas... :)

[2020-04-27 17:28] HugoDF commented on #7
Hmmm I would make it more simple, something like an "on change" hook, it's then up to the developer to put wherever they want.

You can already load from local storage btw

[2020-04-27 17:31] ryangjchandler commented on #7
As @HugoDF said, you could load from local storage if you wanted too. It would be down to you to save it back at some point.

I have got events on the list to do for v1 too btw.

[2020-04-27 17:32] HugoDF commented on #7
Events or hooks?

[2020-04-27 17:35] muzafferdede commented on #7
So you mean initial check should be done by developer? E.g. if `$store.application.language.language` is set in the `localStorage`, grab it, if not, set it as: `$store.application.language = 'en'`it. ??

[2020-04-27 17:37] ryangjchandler commented on #7
Well, you could do it that way. You could also stringify your entire store object and the put in local storage.

[2020-04-27 17:37] ryangjchandler commented on #7
Yeah, hooks not events 😅

[2020-04-27 17:45] ryangjchandler opened #8 "Add a changelog"

[2020-04-27 17:52] #8 closed

[2020-04-27 18:49] ryangjchandler opened #10 "Write a complete test suite"

[2020-04-27 19:32] #10 closed

[2020-04-27 19:34] ryangjchandler opened #12 "Implement `init` hook and `watch` method"

[2020-04-27 19:35] ryangjchandler commented on #7
Created a new issue #12 for these bits.

[2020-04-27 19:35] #7 closed

[2020-04-30 12:36] jacksegal opened #13 "Add a License?"
hey @ryangjchandler - looks great!

i couldn't see a license for this project so thought i'd let you know about this site: https://choosealicense.com/ - they also have a section on what "not having a license" means: https://choosealicense.com/no-permission/

someone once sent me those links for my first (and only) open source project, so thought i'd do the same for you - however if you're happy wi

[2020-04-30 12:41] ryangjchandler commented on #13
Hey @jacksegal ,

Thansk for opening the issue. I'm aware the LICENSE is missing, it's actually MIT licensed in the package.json, I just forgot to put the Markdown file in the repo.

Feel free to make a PR for the LICENSE.md file, it'll give you a "contributor" badge on the repo. If not, I'll do it later on.

Thanks again! :)

[2020-04-30 13:04] #13 closed

[2020-04-30 13:24] ryangjchandler opened #16 "Swap microbundle for custom Rollup config"

[2020-05-01 07:11] jacksegal commented on #12
Nice!  Hooks was one of the first things I looked for when checking out your repo.

Sure you've got a firm idea of how to implement this, but thought I'd mention the [Livewire Lifecycle Hooks](https://laravel-livewire.com/docs/lifecycle-hooks), particularly:

- `updating($name, $value)`
- `updated($name, $value)`
- `updatingFoo($value)`
- `updatedFoo($value)`

Would be cool if people could hook in

[2020-05-01 07:31] HugoDF commented on #12
`spruceUpdated` is going to cause issues being bound to since HTML isn't case sensitive

Something like `spruce: updated` might work better.

Also not sure about the overhead of triggering a new event for every single change.

Might make more sense to use an explicitly defined watcher syntax (similar to Alpine's `$watch`)

[2020-05-01 07:50] jacksegal commented on #12
Yeah, the `spruce:updated` seems to be general convention in other projects too.  (I avoided it for the example because I wasn't sure how Alpine would react to having a colon in event name `x-on:spruce:updated`)

Good point about overhead as well - my main objective was more about being able to hook into the lifecycle inline, rather than the exact implementation.  So as long as the "defined watche

[2020-05-01 08:25] ryangjchandler commented on #12
Hey guys, thanks for the input. My initial thoughts on this were to have a similar syntax to Livewire, where you simply hook into the core using `Spruce.on` as @jacksegal suggested.

They would take the form of a single identifier in most case. The problem with targeting a specific property is that nested properties react too, so syntactically it wouldn't be very nice. I'd probably limit it to "wa

[2020-05-01 08:49] jacksegal commented on #12
Sure - here's a use case for having a "pre update" Event hook - it's one that I used the Livewire `updating` for:

You are building a Profile page where users can update their details - after a user updates a field, you want to show a notification of the change:

![image](https://user-images.githubusercontent.com/9342782/80793455-11984f00-8b8f-11ea-926e-3d0e1bef50f8.png)

If you could access a "pr

[2020-05-01 08:58] ryangjchandler commented on #12
Interesting, seems like a fair use case. I've been using Spruce for forms too, I assume you're using it to build light a notifications / alert bus?

[2020-05-01 09:09] jacksegal commented on #12
Yes, exactly.

[2020-05-01 09:15] ryangjchandler commented on #12
I'm gonna work on these hooks later on today, I'll ping you on the PR and mention this issue to see if you think there's anything missing.

[2020-05-02 16:36] ryangjchandler opened #17 "Implement global `$store` variable"
Currently you have to add the `x-subscribe` directive to your root component element to access the `$store` variable.

Since Alpine can read variables from the `window` scope, it would be possible to also remove the need for `x-subscribe` and instead add `window.$store`.

[code]

I think to begin with, this would be an "opt-in" feature. Maybe add a `Spruce.enabledGlobalStoreVariable` to the core o

[2020-05-02 16:38] ryangjchandler commented on #17
In terms of the overhead of this approach, we'd need to either:

1. Build up a dependency graph in memory of each dependent component. This could be done using the `get` trap on the Proxy. I'd prefer this method personally, since it wouldn't be too difficult I don't think.

2. Find a way to force render each component through Alpine. This won't be very optimised though...

[2020-05-02 16:39] HugoDF commented on #17
Sounds reasonable

How would you set the Boolean? `Spruce.config({ globalStore: true })` is the more flexible API

[2020-05-02 16:40] ryangjchandler opened #18 "Add polyfills for IE11 support"
Need to add some polyfills so that IE11 is supported. I'm going to see if the polyfills Alpine provides will work with Spruce out of the box, so we don't have to bundle them again.

[2020-05-02 16:40] ryangjchandler commented on #17
Yeah, either a `config` function or a single `Spruce.variableName = true`. The Config API would make more sense for future options too.

[2020-05-02 16:43] ryangjchandler opened #19 "Automate release cycle with GitHub Actions"
I'd like to make use of GitHub Actions and automate the release process.

This would include:

* Triggering workflow on GitHub tag / release.
* Running all tests.
* Building `/dist` files.
* Pushing `/dist` to tag / release.
* Uploading distribution artifact to release.
* Publishing to NPM.

[2020-05-02 16:44] ryangjchandler commented on #3
I'm going to close this issue now and leave this one down to the developer to handle. It's more a language problem than something that should be handled by the library, Alpine would have the same response too.

[2020-05-02 16:44] #3 closed

[2020-05-02 16:45] ryangjchandler commented on #4
Hi guys, I'm going to close this issue now and leave it behind. I don't think this it worth it currently and if it's that much of a problem, please open up another issue.

[2020-05-02 16:45] #4 closed

[2020-05-02 20:59] #17 closed

[2020-05-02 22:19] #12 closed

[2020-05-02 22:20] ryangjchandler opened #22 "Add core events"
Now that #21 has been merged, I can add some core events that get fired.

Based on the discussion in #12, I want to add a `spruce:updating` and `spruce:updated` hook. I'll also add an `init` hook.

[2020-05-03 12:59] ryangjchandler opened #24 "Create a "getter" for stores"
I'm thinking it makes sense to provide a "getter" method so that stores can be used outside of your Alpine components.

My initial thoughts are to use the existing `Spruce.store()` method, and check to see if the second argument is empty / undefined / null.

If it is, and the first argument is a valid store, then return it.

Thoughts? cc/ @HugoDF

[2020-05-03 16:11] HugoDF commented on #24
That API looks ok to me 👍

Watch out that tests cover both the `store('hello')` and `stores.hello` cases seems clean enough

[2020-05-03 16:15] ryangjchandler commented on #24
Ah yeah I just replaced all `stores.` with `store()`.

[2020-05-03 19:02] #24 closed

[2020-05-03 19:27] #22 closed

[2020-05-04 22:44] HugoDF opened #26 "Add a "Quick Start" section"
👋 I was just creating a Spruce example for a post and I noticed there isn't a "here's some sample code you can copy paste to make sure things are working" anywhere in the README.

In Alpine that's things like the dropdown.

In Spruce it would be nice to have a couple of components and a store.

This is what I came up with (see the [CodePen](https://codepen.io/hugodf/pen/dyYJXEa)):

[code]

[2020-05-05 16:12] ryangjchandler opened #27 "Return an `off` function when registering a listener"

[2020-05-05 17:52] HugoDF commented on #27
Would adding `Spruce.off('event-name', registeredCallback)` be enough?

[2020-05-05 18:08] ryangjchandler commented on #27
Yeah, that's what I'm doing now. I'm going to return a callback too, in case people use anonymous function as callback.

[2020-05-06 16:41] gilbert commented on #26
For the record: The inline `<script>` tag approach may not work if you're including Alpine in a [deferred/async script](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-defer). A nice alternative that I think always works is to put your store declaration in an `x-init`:

[code]

[2020-05-06 16:45] ryangjchandler commented on #26
True. I've actually had a couple of people mention this and I'm looking into ways of changing the internals so that Alpine can be included anywhere, as well as Spruce.

[2020-05-06 16:46] #26 closed

[2020-05-08 23:24] SimoTod commented on #19
Hi @ryangjchandler
do you need help with this task? I've got a working workflow doing pretty much this but let me know if you want to experiment.

[2020-05-08 23:25] ryangjchandler commented on #19
Hey Simone! Feel free to make a PR, this was one of the last things I wanted to do for v1, but if you've got a workflow already I'd love to see it. Appreciate it! :)

[2020-05-08 23:29] SimoTod commented on #19
cool, i'll send you a PR. It should work but feel free to tweak it if there something that doesn't apply to Spruce. You'll see in a minute but the biggest limitation is that it expects you to publish from master since it pushes everything back to that branch.

[2020-05-09 16:23] #5 closed

[2020-05-09 16:23] #19 closed

[2020-05-09 16:56] #27 closed

[2020-05-15 08:17] scorsi opened #30 "Update whole store with one JS call"
I'm using dynamically injected html (with Phoenix Live View) and to make AlpineJS works I have to trick some differents things.
Actually I have a injected html node with :
[code]
Which allow me to put server messages variable into the front. I would like to make something like:
[code]
Which is not working. Maybe it would be nice to allow that ? :)

[2020-05-15 08:27] HugoDF commented on #30
Have you tried reinitialising the store?

[code]

[2020-05-15 08:32] scorsi commented on #30
@HugoDF tried but it's not working. You can take a look at the source code to understand why : https://github.com/ryangjchandler/spruce/blob/99255047ce677312024ec674f8f2b8f892bc3ff8/src/index.js#L45.
If the store already existes, it returns it without any modification.

[2020-05-15 08:34] HugoDF commented on #30
Yeah, but if that's the case I'm not sure how you're intending to get `store() = newState` to work 😁

Essentially we might need a `store().$update(newState)` function

[2020-05-15 08:45] scorsi commented on #30
Actually I achieve that by doing :
[code]
Which can be quite expensive on object with multiple keys...

[2020-05-15 09:13] ryangjchandler commented on #30
Hi @scorsi, the original thinking behind not letting you overwrite stores is so that it doesn't happen accidentally, since Spruce isn't an immutable solution.

`Spruce.store() = {}` wouldn't work since the function returns a reference to the object, not an address pointer.

I'd be happy to implement a new function for overwriting the store completely, so that it's clear that's what you're doing, m

[2020-05-15 09:35] HugoDF commented on #30
Bit of a can of worms this one because with a name like `update` people might expect that you're merging the update object into the store (ie. not modifying parts of the store not in the update object)

Maybe `reset` is a better name (and shows that you're wiping away all the state)

[2020-05-15 09:44] scorsi commented on #30
I think merging new state to the old state is what we can expect from a state manager. It's likely how other state manager works.
But if we call like `Spruce.store('my_store') = my_new_state` (with the magic `$update` function ?) it could results in misunderstanding so resetting is a better idea.
So people wanting to merge state have to do : `Spruce.store('my_store') = { ...Spruce.store('my_store'

[2020-05-15 09:48] ryangjchandler commented on #30
Yeah, I was planning on just merging the objects together, should be as simple as spreading the two out.

[2020-05-15 09:52] scorsi commented on #30
I think `Spruce.store(key, state)` is for initialization only. `Spruce.store('my_store') = my_new_state` with merging option is a better idea in my point of view, a good explanation in the documentation about the "magic merge" have to be explained if you would like to go into that direction.
Maybe `Spruce.store('my_store') = my_state` can also call `Spruce.store('my_store', my_state)` if the store

[2020-05-15 10:06] HugoDF commented on #30
I don't think you'll ever be able to make this work in JS
[code]

You might be able to get something similar to the following working though:

[code]

[2020-05-15 10:07] scorsi commented on #30
@HugoDF You're right ^^

[2020-05-15 10:07] ryangjchandler commented on #30
Yeah, `Spruce.store() = state` is impossible with JavaScript since pointers are non existent.

[2020-05-15 10:08] ryangjchandler commented on #30
I'd much prefer having a method that does this, like `reset()` or `overwrite()`.

[2020-05-15 10:08] HugoDF commented on #30
Yeah this sounds like the lowest effort but it might be compromising on your API.

[2020-05-15 10:09] HugoDF commented on #30
Spruce plugin? 😂😂😂 Seems to be doable in userland in any case

[2020-05-15 10:09] scorsi commented on #30
Making `Spruce.storeName = state` could result in big refacto since the `Spruce` object itself should be a `Proxy`.

is the best solution.

[2020-05-15 10:12] ryangjchandler commented on #30
No, I think it should be Spruce.reset('storeName', { ... }), otherwise I'll need to proxy the method calls on each store or attach a method to each store which could conflict with methods that already exist on there.

[2020-05-15 10:15] scorsi commented on #30
Since `Spruce.set('storeName', 'key', 'value')` doesn't exists, it's quite weird here.
And in addition, what if I want to do `$spruce.my_store.overwrite({ messages: [/* some heavy object maybe inserted by dynamically injected html */] })` ? :)

[2020-05-15 10:24] HugoDF commented on #30
Call it `Spruce.setState` 👀👀👀 hahah confuse everyone with the mix of Vue and React terminology

[2020-05-15 10:33] ryangjchandler commented on #30
Realistically, the right thing to do would be not overwriting the entire state object for your store, but instead updating a sub-property of the state instead.

I'm still happy to add an `update()`, `reset()` or `setState()` method.

[2020-05-15 10:41] scorsi commented on #30
It was just an example. If you prefer : what if I want to update two keys (or even more) in the same event ? Actually : `$store.my_store.my_first_key = my_first_value; $store.my_store.my_second_key = my_second_value; ......` Using `$refs` in addition could result in a mess.

Could be awesome !

[2020-05-15 10:48] ryangjchandler commented on #30
Yeah, even if a method it's still going to be nearly as long since you'll need to pass in an object, etc.

Also, if your expressions are really that long I'd suggest moving all of the logic into a separate function.

[2020-06-18 00:52] chapmanjacobd opened #36 "Spruce.watch is not triggered with Spruce.reset"
I think the current behavior is fine but it might be nice to add an option object/parameter to Spruce.watch which would switch between no trigger and trigger after reset behaviors

[2020-06-18 11:02] chapmanjacobd commented on #36
maybe this would be difficult to program correctly.

an alternative option might be to have the ability to externally trigger all "watchers" so that they will refresh. This should all be optional and not the default because I fear it might somehow create a watch loop for some people

[2020-06-18 11:04] ryangjchandler commented on #36
@chapmanjacobd - I'm not sure whether watchers should be triggered at all when resetting. The whole point of that method is that it's resetting the state, not pushing a change.

[2020-06-18 12:16] chapmanjacobd commented on #36
Is there a method to get a list of the watchers and their saved functions? That would solve my issue

[2020-06-18 12:34] HugoDF commented on #36
If you look at the `Spruce` object, it has a `subscribers` property (https://github.com/ryangjchandler/spruce/blob/master/src/index.js#L14) and also a `updateSubscribers` (https://github.com/ryangjchandler/spruce/blob/master/src/index.js#L69)

[2020-06-18 12:39] #36 closed

[2020-06-22 18:43] arthurwhite opened #37 "Cannot use a function from a store for an event"
[code]

This does nothing.
It's like the `$store` variable is not available for event handlers.

See: https://codepen.io/arthurwhite/pen/JjGWgda

[2020-06-22 19:19] HugoDF commented on #37
@arthurwhite with spruce you need to actually call the function I believe so `@submit.prevent="$store.user.submit()"`

[2020-06-22 20:33] ryangjchandler commented on #37
Yeah, @HugoDF is right - you need to actually invoke the function.

[2020-06-22 20:33] #37 closed

[2020-06-22 22:26] arthurwhite commented on #37
Thanks!

[2020-07-04 04:23] chapmanjacobd opened #38 "Spruce is not defined"
I'm trying to use this in a new project without a bundler:

tee index.html
[code]

(ctrl+d)

but I get "Spruce is not defined"

[2020-07-04 04:28] chapmanjacobd commented on #38
I can wrap the `Spruce.store('settings', {})` in a `window.onload` but then Alpine will run first and complain about that `$store.settings` is not defined

[2020-07-04 04:33] chapmanjacobd commented on #38
ahhh removing `defer` from alpine.js (like [the example](https://github.com/ryangjchandler/spruce/blob/master/examples/index.html)) actually made it work

[2020-07-04 04:33] #38 closed

[2020-07-04 09:36] ryangjchandler commented on #38
Yeah, defer is a funny attribute. The docs need updating because I'd actually recommend putting both script tags at the end of the body tag (before your inline script tag).

[2020-07-08 20:39] ryangjchandler opened #39 "Migrate to new Alpine custom magic variable hook"
This will need to mark the previous method using `x-subscribe` as deprecated.

[2020-07-22 13:30] yaquawa opened #41 "`$store is not defined` error?"
I got an error:

[code]

Here is my markup:
[code]

If I remove the `type="module"` attribute it works. Why? Can't I use it with `type="module"`?

[2020-07-22 13:38] ryangjchandler commented on #41
Hey @yaquawa - `type="module"` will affect when the script is loaded - I'm aiming to tackle this in the next release of Spruce so that it works nicely with the module/nomodule pattern.

[2020-07-22 13:47] HugoDF commented on #41
Would adding `type="module"` to the Spruce script tag work around the issue?

[2020-07-22 13:49] yaquawa commented on #41
@ryangjchandler Do you mean scripts with `type="module"` set become to async load?

[2020-07-22 13:51] yaquawa commented on #41
No, same error.

[2020-07-22 13:51] ryangjchandler commented on #41
@HugoDF makes a good point - try adding the `type="module"` to the Spruce script tag. I haven't actually tried this since I don't normally use the module/nomodule pattern because supporting legacy browsers sucks.

It is worth noting that Spruce isn't IE11 compatible either, since there are some polyfills needed for `Proxy` etc.

[2020-07-22 13:55] yaquawa commented on #41
@ryangjchandler I didn't get what's the problem with `type="module"` ?

[2020-07-22 13:57] ryangjchandler commented on #41
`type="module"` has the same effect as the `defer` attribute, meaning they are loaded / fetched in parallel to HTML execution, but that causes problems with Spruce since it needs to run *before* Alpine does.

[2020-07-22 14:30] yaquawa commented on #41
@ryangjchandler make spruce's script tag with`defer` didn't help. Hope this can be fixed in the next version👍🏼

[2020-07-22 14:32] ryangjchandler commented on #41
@yaquawa Well, technically speaking it's not a problem that I can solve since Spruce works on DOM manipulations meaning it has to be done before Alpine loads and runs. Instead, I have to change how Spruce works so that it doesn't rely on DOM manipulations which is possible, but will involve breaking changes and will only support newer versions of Alpine.

[2020-07-22 14:37] yaquawa commented on #41
@ryangjchandler That sounds like it's a better solution.
Looking forward to the next version !

[2020-07-27 21:24] gavinhewitt commented on #41
Having the same issue. Removing `type="module` is the only thing that works.

[2020-08-08 21:07] ryangjchandler opened #43 "Remove namespace / scope from package"
I want to remove the `@ryangjchandler` from the package name and instead rename it so `spruce` or `spruce.js`.

[2020-08-08 22:04] HugoDF commented on #43
`sprucejs` seems available

[2020-08-08 22:51] ryangjchandler commented on #43
Yeah, I like that one. It's nice to have my name in it, but it also feels like a bit "meh, not reliable because it's some random guy" sort of thing haha.

[2020-08-09 11:22] HugoDF commented on #43
Also: kinda long to type out if anyone ever wants to recommend it to someone else 😄

[2020-08-20 23:21] ryangjchandler commented on #18
I'm debating whether or not to even support IE11 - the current build doesn't and I haven't even had too many requests for support, so it seems like more hassle than it's worth at the moment.

[2020-08-20 23:22] ryangjchandler commented on #16
I'm not completely sure what benefits this will bring, if any at all. Perhaps a smaller bundle since I can have a bit more control over the build configuration - I might even look into some other compilers too and compare bundle outputs.

[2020-08-26 13:11] #39 closed

[2020-08-26 13:16] #43 closed

[2020-08-26 13:19] ryangjchandler commented on #18
Taking the conscious decision to **not** support Internet Explorer. Nobody has complained about it and it's probably a good step to take.

[2020-08-26 13:19] #18 closed

[2020-08-26 13:29] #16 closed

[2020-08-26 13:29] #41 closed

[2020-08-26 13:29] ryangjchandler commented on #41
Closed this issue - I've decided to keep Spruce's internals fairly similar to how they already were, so you will still need to include Spruce before Alpine or move both to the end of the `<body>` tag.

[2020-08-27 09:56] ammezie opened #46 "Store array property is not reactive when updated"
I have the following global store:

[code]

When I try adding new items to `todos`, but the update is not reactive.

Here's how I'm adding new item in the `todos` array:

[code]

[2020-08-27 09:58] ryangjchandler commented on #46
@ammezie - Spruce's Proxy doesn't react too well to changes in arrays, so instead of calling `Array.push` you'll need to actually re-assign the value:

[code]

[2020-08-27 10:14] ryangjchandler commented on #46
@ammezie - I've just released [v1.1.0](https://github.com/ryangjchandler/spruce/releases/tag/v1.1.0), please upgrade and `Array.push` will be supported.

[2020-08-27 10:14] #46 closed

[2020-08-27 10:24] ryangjchandler opened #47 "Remove event bus"
I'm honestly not too sure how useful this functionality is, but I just had a look at it adds quite a bit of weight to the project. I've personally never used it, and I can't imagine many other people do because most of the time they're going to be doing events with their Alpine components using `$dispatch`.

[2020-08-29 17:17] ammezie opened #50 "$store is not defined"
When I try calling `$store` inside a component's method, I get

[code]

where `addTodo` is the name of the method.

But when I use it inline in the template everything works as expected.

[2020-08-29 17:18] ryangjchandler commented on #50
Inside of a function, you need to use `this.$store`.

[2020-08-29 17:34] ammezie commented on #50
Oh! Thanks!

[2020-08-29 19:38] #50 closed

[2020-08-30 16:24] ryangjchandler opened #51 "Implement history / change tracking"

[2020-09-05 12:05] #47 closed

[2020-09-08 15:29] GRVYDEV opened #53 "Problem with setting value"
Hi I am trying to change the value of a stored variable on a click event however it is not working. I must be doing something wrong.
Here is my code:
HTML
[code]

It is reading the variable properly however I cannot modify it. Any suggestions?

[2020-09-08 15:42] ryangjchandler commented on #53
@GRVYDEV Have you got any errors in the console? Also, which browser and version of Spruce are you running?

[2020-09-08 15:47] GRVYDEV commented on #53
No console errors. Im using the latest version of Spruce in Firefox

[2020-09-08 15:56] ryangjchandler commented on #53
@GRVYDEV You haven't given me any context on the code snippet - I can't see any `x-data` attribute in the DOM, is the `@click` definitely inside of an Alpine component?

[2020-09-08 15:58] GRVYDEV commented on #53
Ugh github messed up my original comment. Check now and you should see the x-data

[2020-09-08 15:59] ryangjchandler commented on #53
The problem is you're assigning the `$store.sidebar.open` value to a property on the component. Spruce doesn't update the value of the property.

Instead, you need to replace any usage of `open` with `$store.sidebar.open` directly.

[2020-09-11 19:24] #53 closed

[2020-09-16 05:19] jeremyswann commented on #51
is this the same principle as persistence, that would be a sick feature

[2020-09-16 08:18] ryangjchandler commented on #51
@jeremyswann - I've got plans to add some persistence in v2, it would be an opt-in feature. The API would look something like:

[code]

Where the third argument defaults to `false`.

Is this something you'd be interested in?

[2020-09-16 08:37] jeremyswann commented on #51
I would find this highly useful, in a static setting, the refetching of data occurs on every route change. Persistence would be a big stride to decentralizing from larger frameworks further strengthening the use of mini frameworks like Alpine.js.

[2020-09-16 08:38] ryangjchandler commented on #51
@jeremyswann - I'll keep it in mind. I want to keep Spruce as light as possible, hence why I'm also removing the event-bus in v2 (since that adds about 1kb to the final build).

[2020-09-16 08:41] ryangjchandler opened #54 "Implement persistence API"
See #51 for some details after a discussion with @jeremyswann.

The basic idea would be persisting the state between page loads. Using `localStorage` probably makes the most sense.

Here is the API:

[code]

The third argument is a `Boolean`, indicating whether or not the store should be persisted. I think there should also be a couple of other methods for clearing persisted state, as well as disa

[2020-09-16 13:20] #54 closed

[2020-09-17 03:08] yaquawa opened #56 "`Spruce.on` does not get the event object"
Looks like `Spruce.on` does not get the event object just like `@spruce:event-name.window` can do.
Is this a bug or intended?

[2020-09-17 07:43] ryangjchandler commented on #56
@yaquawa `Spruce.on` doesn't run through the browser event API, it's a separate event bus and therefore won't receive the events object.

[2020-09-17 07:43] #56 closed

[2020-09-17 11:16] yaquawa commented on #56
What do you mean by "browser event API" ?
Could you explain me what's the difference and why they should be separated ?
I can't find more useful info on the readme.
Thanks.

[2020-09-17 11:19] ryangjchandler commented on #56
@yaquawa - When `Spruce.emit` is called, 2 different things happen.

Firstly, any listeners registered via `Spruce.on` will be called and passed event-related data. A second part is a browser event that is being dispatched.

By browser event, I mean something that can be listened to using `addEventListener`. The data that was passed to the callback through `Spruce.on` will actually be added to the

[2020-09-17 11:21] ryangjchandler commented on #51
@jeremyswann - I merged in some changes that adds support for persistence. I'll be releasing version 2 of Spruce very soon, so keep an eye out for that. In the meantime, you can use the master branch in your project.

[2020-09-17 11:21] #51 closed

[2020-09-17 11:22] ryangjchandler opened #57 "Add some very basic hooks"
Since v2 no longer has an event bus, I think it makes sense to add some lightweight hooks such as `onUpdate` or `onInit` so that people can still hook in, just with a lot less power.

[2020-09-17 12:25] yaquawa commented on #56
I got 3 questions now

1. ***`@spruce:event` is totally different thing from `window.spruce.on` ?***

2. ***Will `window.spruce.on` be removed in the future? (Vue3 is going to remove the `vm.$on`)***

3. ***How to emit an event inside the component?***
I tried this, but it failed with error saying $emit is not exists.
[code]

yes I want to make cross components messagings.

[2020-09-17 12:56] ryangjchandler commented on #56
1. `@spruce:event` is totally different yes. When you do `@spruce:event` you are registering an event listener, basically `window.addEventListener('spruce:event')`. When you call `Spruce.on`, you are registering an event listener **with Spruce**, not the `window`.

2. `Spruce.on` will be removed in the future yeah. I'm planning on releasing v2 of Spruce at the end of this month and it will be remo

[2020-09-17 13:12] jeremyswann commented on #51
Thanks @ryangjchandler I'll give it a whirl.

[2020-09-17 15:14] yaquawa commented on #56
@ryangjchandler Thanks for replying!

I tried this, but nothing happened. what's wrong with my code here?
[code]

[2020-09-17 15:21] ryangjchandler commented on #56
You need to add the `.window` modifier and use `Spruce` instead of `spruce`.

[2020-09-17 16:26] massimodellarovere opened #58 "Problem with Watch"
[code]

[2020-09-17 16:34] ryangjchandler commented on #58
@massimodellarovere Please provide some more information on what the problem **actually** is.

Providing a code snippet doesn't help me debug your problem or provide support.

[2020-09-17 16:51] massimodellarovere commented on #58
File my boostrap.js in laravel environment 7.0

[code]
File store.js for my store as example search

[code]
Input field present in my form, i remove x-subscribe after update to release 1.1.1

[code]
After upgrade to version 1.1.1 value old and new different comportament

[code]

[2020-09-17 18:30] ryangjchandler commented on #58
@massimodellarovere The documentation hasn't been updated, which is my fault.

Since v1.0, you will no longer receive the old value as part of the `Spruce.watch()` callbacks arguments. This change was made to be more inline with how Alpine itself handles watchers.

[2020-09-17 18:47] massimodellarovere commented on #58
OK .. thank you. also I change  code with one parameters

[code]

[2020-09-18 04:39] yaquawa commented on #56
@ryangjchandler Is there any difference between `@spruce:eventname` and `@spruce:eventname.window`?
I mean should I always add the `.window` in the end of event name?

[2020-09-18 09:44] ryangjchandler commented on #56
@yaquawa - using `.window` at the end will register the event listener on the `window` object, which is where Spruce dispatches the events.

`window.Spruce` is definitely the correct syntax, as you can see here: https://github.com/ryangjchandler/spruce/blob/061be1a412d84b174a4695f982f44c605cf18015/src/index.js#L94

[2020-09-29 15:43] Yahav opened #60 "storing an object in a store property doesn't work"
So i have the following store:
[code]

and i'm making request to an API and receiving json which is converted to an object, i want to store this object as is at the store so i do:

`export const accountStore = () =>{ return Spruce.store('account'); }
`
[code]

However this doesn't to work, the state is stored perfectly but the data object doesn't.
When i console.log the  i get an empty proxy:

[co

[2020-09-29 16:36] ryangjchandler commented on #60
@Yahav Are you able to reproduce this inside of a CodePen or something similar? Makes it a bit easier for me to debug and find the problem (if there is one).

Also, when you `console.log()` the `data` key, it will show as a Proxy since this is what allows deep-reactivity inside of stores / objects. Have you tried accessing a key inside of `data` to see if it's available?

[2020-09-29 16:47] Yahav commented on #60
Sorry about that, turns out this is completely my fault.
I was inspecting the store data object inside a Spruce.watch for 'account.state'.
Problem was that i set the state before i set the data object and so when i logged the stored data inside the watch function it was still empty.

[2020-09-29 16:47] #60 closed

[2020-09-29 16:50] ryangjchandler commented on #60
Okay, no worries. Glad you figured it out :)

[2020-09-30 08:31] Yahav opened #61 "Watch loop bug"
It seem like there's a watch loop bug in which when we set **another store property** inside a watch function it will cause an infinite loop within the first watch.
Now, i'll understand a loop if the property we update is the one in whose watch function we are setting but this is not the situation here.
I've made a quick codepen to demonstrate:
https://codepen.io/yahavIL/pen/ExKzEMM

(notice that

[2020-09-30 08:56] Yahav commented on #61
Same when using events:
https://codepen.io/yahavIL/pen/BaKexLm

[2020-09-30 15:07] #58 closed

[2020-09-30 15:12] #57 closed

[2020-10-02 13:21] fredcarle commented on #61
Not sure if it's related but there is also an infinite loop occurring when updating a property to an array.

[2020-10-02 14:13] fredcarle commented on #61
Ignore that last comment. It was related to my HTML.

[2020-10-03 20:56] ryangjchandler commented on #61
@Yahav I probably won't be looking into this since I'm removing watchers in v2 of Spruce (which will be released very soon). Instead, I'll be documenting a way of using Alpine's own `$watch` with Spruce.

[2020-10-03 21:00] Yahav commented on #61
So there will be no way of watching outside of alpine's components?

[2020-10-03 21:12] ryangjchandler commented on #61
@Yahav Nope, not in Spruce. The event bus portion of Spruce is the heaviest part of the library and it the most underused. To be honest, I think it was a bit out-of-scope for the initial release. I don't actually use the functionality myself either, so unless enough people are angry about it being dropped, I won't be keeping it in.

[2020-10-04 14:20] Yahav commented on #61
I'm not sure what the event bus has to do with it, granted, the events mechanism is quite not useful however, a watch method most definitely is.
**You can't have a state management library without the capability to watch for state changes.**
And yes, you might say Spruce is a state management specifically for Alpine.js and so you could only watch for state changes inside an Alpine.js component how

[2020-10-04 16:54] ryangjchandler commented on #61
I'll temporarily re-open this. For what it's worth, Spruce has never been marketed as a general-use state management library. It is designed to work with Alpine directly, so anybody who is not using it that way will probably run into bugs and problems and also find that they're grokking the library, using it in unintended ways.

I'm also not willing to maintain something that I don't use myself or

[2020-10-06 22:57] bdtomlin opened #62 "Spruce doesn't work when loading with turbolinks"
Spruce does not work when using Turbolinks with the Alpine Turbolinks Adapter.

When clicking on a link handled by Turbolinks the following error occurs:

[code]

With Turbolinks disabled everything works as expected. I'm new to Alpine and Spruce, so I'm not sure if this issue should be posted here or on the Turbolinks adapter repo. I thought I'd start here :)

[2020-10-07 08:12] ryangjchandler commented on #62
@bdtomlin thanks for posting, I don't use Turbolinks myself so adding support in Spruce wasn't too high up on the priority list. This is hopefully something I can tackle in v2, I'll speak to @SimoTod too to see if there is a simpler way of adding Turbolinks support sooner.

[2020-10-07 08:26] SimoTod commented on #62
👍I'll try to reproduce the error soon and see if it's something we can fix without major changes.

[2020-10-07 13:36] bdtomlin commented on #62
Thanks for the quick responses. Please let me know if there's any way I can help.

[2020-10-07 13:44] bdtomlin commented on #62
Some interesting additional information...

If I just remove the following line: https://github.com/ryangjchandler/spruce/blob/c82c7b28870ca46251804cff953aa18f3efc439c/src/index.js#L19

Everything seems to work as expected. I may be missing some case I'm not aware of though.

[2020-10-07 15:02] ryangjchandler commented on #62
@bdtomlin That line of code was PR'd by somebody to add a basic level of Turbolinks support.

[2020-10-07 16:17] bdtomlin commented on #62
@ryangjchandler that's weird because it seems to be the thing that breaks turbo links support 🤷

I'm not sure what scenario would make it necessary. I've tried everything I can think of without that line and it all works.

If the store is `attached` on `domReady` it should stay loaded throughout turbolinks clicks. It seems like there is no reason to listen to `turbolinks:render` and attempt to att

[2020-10-07 16:51] ryangjchandler commented on #62
@bdtomlin Yeah, like I said, I don't use Turbolinks myself so I'm not sure about compatibility stuff.

I'll try to fix compatibility in v2, which I'm aiming to release in the next couple of days 🤞

[2020-10-07 18:24] bdtomlin commented on #62
@ryangjchandler that sounds great. Good luck on v2! Thanks for making this library, it definitely fills in some small gaps that I had with alpine.

[2020-10-07 18:43] ryangjchandler commented on #62
My absolute pleasure. I'd love to spend some more time on it but at the moment, I can't justify it against client work, etc, so it's mostly just maintenance and patches, but I've got some cool things coming in v2.

[2020-10-07 19:13] SimoTod commented on #62
@bdtomlin I think the original intention was to cover the case where you load the website on a page that does not have spruce and you then navigate to a page having spruce.

I haven't tried yet, I should find some time tomorrow. It would be good to console log self inside attach() and before the error to understand why subscribe is undefined

[2020-10-07 19:19] ryangjchandler commented on #62
@SimoTod Yeah, I think I'm going to add some sort of `booted` property in v2 as well that will be set once it has been booted. That could help in cases like you mention.

[2020-10-07 20:56] bdtomlin commented on #62
@SimoTod, When the error happens self is the document element.

[2020-10-08 15:23] SimoTod commented on #62
@bdtomlin yeah, binding the context would remove the error. However, it seems redundant as you suggested earlier. `attach()` defines the magic property which persist between page loads so there's no need to redefine it (I tested a few cases and nothing breaks).
I suspect that code was required in an early version of spruce released before Alpine started supporting magic properties which was workin

[2020-10-08 15:52] ryangjchandler commented on #62
@SimoTod Thanks for looking into this, appreciate it!

@bdtomlin You can send a PR in for this now so that I can release a patch version on 1.x, or wait until the weekend when I release 2.x 👀

[2020-10-08 15:58] jameslkingsley commented on #62
I haven't used Spruce for a while so I'm out the loop on what's changed - but I think I remember the issue being navigating to a page with a Spruce component - which with the new magic properties in Alpine _shouldn't_ be an issue.

[2020-10-08 17:13] bdtomlin commented on #62
@SimoTod,

Pull request sent. Thanks! 😄

[2020-10-08 18:00] #62 closed

[2020-10-08 18:02] ryangjchandler commented on #62
Fixed in v1.1.2. Thanks guys! ❤️

[2020-10-13 09:45] ryangjchandler commented on #61
Fixed in https://github.com/ryangjchandler/spruce/commit/61737952111a7348f483471cabde57d77c53e153

[2020-10-13 09:45] #61 closed

[2020-10-14 08:29] ryangjchandler opened #64 "Build a Cypress test suite"

[2020-10-15 20:04] #64 closed

[2020-10-18 15:03] ryangjchandler opened #67 "Check that Alpine version is greater or equal to 2.7"
This should help debug problems where people are using older versions of Alpine with Spruce.

[2020-10-18 15:16] chapmanjacobd opened #68 "regression: $store is undefined for arbitrary functions"
test case: works w/ 0.x.x but not with 1.x or 2.x

compare.html in https://github.com/chapmanjacobd/neighborhoods-alpinejs

[2020-10-18 15:36] ryangjchandler commented on #68
Will need to investigate this one more deeply to see what the problem is, whether it's Alpine being weird or Spruce, but for now on newer versions you should be able to pass the `$store` variable through to the function:

[code]

[2020-10-19 08:17] ryangjchandler commented on #67
I think a nice way of sorting this would be creating a small function that turns the Alpine version string into an object with a major, minor and patch key. That way, it can be compared against a particular requirement.

[2020-10-19 14:21] robbevp commented on #68
Same here: $store is unavailable in my reuseable components.
Calling `x-show="status($store)"` fixed this

[2020-10-19 14:26] ryangjchandler commented on #68
@robbevp Is the `status` function defined outside of the component, meaning it's not a function on the `x-data` object?

[2020-10-19 14:35] robbevp commented on #68
@ryangjchandler
If I understand you correctly it is not.
In my view I have something like this
[code]
In the JS:
``` javascript```
export function card(data) {
  return {
    ...data,
    status($store) {
      return this.id === $store.events.current_id;
      }
  }
}

[code]

[2020-10-19 14:42] ryangjchandler commented on #68
That's exactly what I mean. Inside of those sort of functions (where you have defined the function on the data object), you need to use `this.$store` instead of just `$store`, or pass the variable through like you have done.

[2020-10-20 10:47] ryangjchandler commented on #68
I'm not sure there's actually a way to fix this within Spruce, it's more to do with the behaviour of Alpine and how it binds to the `this` context of a function.

The simplest way of working around it is by using the `Spruce.store('name')` approach to get the store, instead of `$store.name`. Modifications made this way will still trigger a render.

So, instead of doing something like `$store.name.

[2020-10-20 10:47] #68 closed

[2020-10-20 13:34] #67 closed

[2020-11-03 07:32] Yahav commented on #61
Wait, does that means that you kept the watch functionality at 2.x ?

[2020-11-03 14:17] ryangjchandler commented on #61
@Yahav I've decided to keep them, yes. I am currently working on some better documentation for Spruce so will update it to use the new Alpine-included way of watching store changes too.

[2020-11-04 15:38] ryangjchandler opened #71 "Add support for persistence via IndexedDB"

[2020-11-04 16:57] #71 closed

[2020-11-14 05:22] Butochnikov opened #73 "Spruce and Laravel Livewire"
Spruce not work together with Laravel Livewire, because Alpine waits for Livewire to load first.

in script Livewire:
[code]

[2020-11-14 07:53] RJFares commented on #73
I was about to write the same issue :)
Following the examples I'm unable to get it to work with Livewire, EXCEPT in the following sequence:

[code]
The above sequence was the only way to get it to work, yet of course, I will get a notification saying
`Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire's scripts are loaded before Alpine.`

If I load it in what I assume sho

[2020-11-14 12:40] ryangjchandler commented on #73
There are no promises of Spruce working with Livewire, but as a Livewire user myself, I will investigate and see what's happening.

I've got a feeling that Spruce isn't seeing Livewire's existing `deferLoadingAlpine` callback, despite the fact that it does check for it on https://github.com/ryangjchandler/spruce/blob/29fa962c9c43f0d292845d6364098f16ad6691f1/src/index.js#L140

Looking at this now t

[2020-11-17 13:21] mrahmadt commented on #73
Any workaround to get it work without this annoying message
" Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire's scripts are loaded before Alpine."

[2020-11-19 20:46] ryangjchandler commented on #73
Hey all, I've just pushed to `2.x` a change that removes **Spruce's deferring logic**.

The correct order of the `<script>` tags should be:

[code]

Best to put this at the end of your `<body>`, as Livewire suggests. I can't reproduce any of the errors, but it's also worth making sure you've got the latest Livewire assets too:

[code]

Use the `<script>` tag below to test out my latest changes on

[2020-11-20 00:31] Butochnikov commented on #73
i tried but ...

[code]

Browser Error:
[code]

[2020-11-20 00:49] Butochnikov commented on #73
@ryangjchandler

work only when this order
[code]

[2020-11-20 10:18] ryangjchandler commented on #73
What errors are in the console if you use the order I suggested?

[2020-11-20 10:57] ryangjchandler commented on #73
@Butochnikov, can you please update Spruce to v2.1.0 and try again please. Spruce should be loaded **after** Livewire:

[code]

Or, alternatively, try and place Alpine in the `<head>` with a `defer` attribute.

[2020-11-20 15:29] Butochnikov commented on #73
@ryangjchandler
works great, thanks

[2020-11-20 15:29] #73 closed

[2020-11-21 11:08] pfrlv opened #74 "localStorage or sessionStorage for persisted store"
Can add the option of using localStorage or sessionStorage to persistence?

[2020-11-21 13:55] ryangjchandler commented on #74
I'm planning on adding driver support for persisted stores, so you'll be able to choose which one you use.

[2020-11-22 20:51] mrahmadt opened #75 "Spruce.reset with throw an error if store not defined"
Hello

Spruce.reset with throw an error if store not defined, I think it's better to check if the store is not defined, spruce should define it.

because of this issue I have to create my code like this

        if(window.Spruce.store('market') == undefined){
            window.Spruce.store('market', {
                currentDate: currentDate,
            });
        }else{
            window.Spru

[2020-11-22 21:50] ryangjchandler commented on #75
`Spruce.reset` will just overwrite the key inside of `Spruce.stores`. What error are you getting?

[2020-11-23 09:49] ryangjchandler opened #76 "Allow using callback to generate store values"
Similar to Alpine's `x-data` attribute, I think Spruce should support passing a closure to the `Spruce.store()` function that will be invoked to generate a new store object.

[code]

[2020-11-23 19:44] #76 closed

[2020-11-24 11:47] ryangjchandler commented on #75
This issue has been silent for a few days so I'm going to close. @mrahmadt Please re-open with some more detailed information on the errors you are receiving.

[2020-11-24 11:47] #75 closed

[2020-11-24 13:38] #74 closed

[2020-11-24 13:53] ryangjchandler opened #79 "Add an `init` or `booted` hook"
Would like to add a new hook for when Spruce's `start` method has finished running. Would allow developers to hook in and create stores when they can't rely on the execution order of their scripts.

[2020-11-24 14:06] #79 closed

[2020-11-26 08:16] shiftgeist opened #81 "Persisted store not working with single values"
Environment

- alpinejs@2.7.3
- @ryangjchandler/spruce@2.2.1
- codesandbox.io

Example

[code]

Simple Reproduction

1. Open https://w4luh.csb.app/ (Source: https://codesandbox.io/s/infallible-waterfall-w4luh)
2. Press one of the buttons
3. Reload page

What happend

(output in html with `[x-text="JSON.stringify($store.colorScheme)"]`)

[code]

Expected

[code]

## Workaround

[code]

[2020-11-26 09:46] #81 closed

[2020-11-26 09:48] ryangjchandler commented on #81
@shiftgeist Fixed in #82. Please upgrade to https://github.com/ryangjchandler/spruce/releases/tag/v2.2.2

[2020-12-04 13:28] johndwells opened #83 "Docs clarification about order of inclusion of Spruce & Alpine when using NPM/Yarn"
I have just set up Spruce 2.2.2 with Alpine 2.7.3, and contrary to what is stated in the docs, I had to include AlpineJS _before_ Spruce, otherwise Spruce threw a JS error saying that it required Alpine 2.5+ to run.

The Installation instructions mention this note:

Curiously I have another project running Spruce 2.0.1 with Alpine 2.7.3, and that project is set up as the docs indicate, with Spruce

[2020-12-04 13:42] ryangjchandler commented on #83
Hey @johndwells, thanks for reporting. I'll have to take a look this weekend and clarify everything.

I think most people use the CDN which is probably why this problem hasn't shown up before.

Will update this issue with any information / findings.

[2020-12-08 19:06] dmaixner93 opened #84 "Spruce.store property name"
I was unable to find any 'issues' on this topic. Also not really sure if it is an issue or an intentional format.

When storing items in the `store`, one would store an item as...`Spruce.store('taco', {extraCheese: true,})` or `window.Spruce.store('taco', {extraCheese: true,})`

Based on my understanding, to reference the store above, we could to so like... `$store.spruce.taco` OR `window.Spruce.s

[2020-12-08 19:50] ryangjchandler commented on #84
@dmaixner93 Thanks for opening up an issue, I'll help you out.

You have created a store as such:

[code]

To access this store **inside** of an Alpine component, you can use the `$store` magic property. You would access the `extraCheese` variable by doing `$store.taco.extraCheese`.

`$store` acts as a shorthand for `window.Spruce.stores` essentially (there's some extra stuff needed).

Outside of

[2020-12-08 21:28] dmaixner93 commented on #84
Okay, that all makes sense.

I now see calling `window.Spruce.store` in the console returns a function. I should have pondered a little longer I guess 😅

Thank you for your answer.

[2020-12-08 21:34] #84 closed

[2020-12-10 13:42] ryangjchandler opened #85 "Move entire test suite to Cypress"
I'd like to remove all of the existing Jest tests since I don't _really_ need to unit test anything. All of Spruce's APIs can be tested via Cypress.

[2020-12-10 15:42] #85 closed

[2020-12-14 06:38] Sated opened #87 "Array methods is not reactivity"
Hello. Array methods like pop, push, splice don't call watchers. Is this normal watcher behavior? In theory, if we use a proxy, we can call a callback to change the array

[2020-12-14 09:05] ryangjchandler commented on #87
@Sated Which version of Spruce are you using?

[2020-12-14 20:02] brennaveen opened #88 "Can't get hooks to work"
Hi, I noticed you added two hooks to Spruce, but they aren't working for me. I've copied and paste the example exactly has you have listed in your documentation.  I don't get any errors, but the functions do not execute.

[code]

[code]

I've verified that I am on the latest version.  Is there anything else I need to do to get these hooks working?

[2020-12-14 20:13] ryangjchandler commented on #88
No, you shouldn't need to do anything else. Can you reproduce the issue on CodePen?

I've got a couple of tests that pass and verify that this functionality works correctly..

[2020-12-14 21:35] brennaveen commented on #88
Sure

https://codepen.io/blcveen/pen/oNzZLLP

[2020-12-14 21:50] ryangjchandler commented on #88
If you see this file https://github.com/ryangjchandler/spruce/blob/2.x/examples/index.html, the `starting` and `started` callbacks run correctly and log to the console.

[2020-12-14 21:53] ryangjchandler commented on #88
That CodePen didn't seem to have Alpine so Spruce wouldn't have started up. I've forked it here and it's working: https://codepen.io/ryangjchandler/pen/abmJZyG

Alpine is in the `<head>` and being deferred. Spruce is then at the end of the `<body>` along with the JS panel.

[2020-12-14 22:15] brennaveen commented on #88
Ok, in that case I must be causing the problem.  I'm bundling all of my third party javascript assets into one file, then adding the script tag for the file right above the ending body tag.  Thanks for your help.  I'll try to figure how how to handle this.

[2020-12-14 22:15] #88 closed

[2020-12-14 22:24] brennaveen commented on #88
In case someone else runs across this issue...

I changed my build have a vendor.js (includes Spruce) and a vendor-deferred.js (includes Alpine), then added vendor-deferred.js in the head and all my other scripts right before the body tag

[code]

[code]

[2020-12-16 04:44] Sated commented on #87
I am using spruce@2.2.2. I made a small pen, the watcher is defined on line :37
https://codepen.io/Sated/pen/JjRWNWE?editors=1111

[2020-12-17 15:32] ryangjchandler commented on #87
I'll get a fix for this out soon in a 2.3.0 release. Got a couple of others things to deal with before.

[2020-12-17 16:06] #87 closed

[2020-12-18 10:40] Swahjak opened #90 "Persistence is a bit awkward and 'hard' to understand"
First of all great work!

I find the persistence a bit awkward / hard to understand because of the logic used. That starts with the fact that there is no difference between retrieval and persistence on the API (aside from calling `retrieveFromLocalStorage` directly). Based on other libraries I would expect the `getter` and `setter` to be different functions. The `store` function name feels a bit a

[2020-12-18 11:39] ryangjchandler commented on #90
@Swahjak Thanks for your feedback.

The goal with Spruce is to keep the API as small as possible. I personally find the API for it simple and straightforward, but this is the first report I've had of anybody thinking otherwise, hence why nothing has been changed.

I also wouldn't be able to make any big or breaking API changes before a v3.0 release, which I'm probably going to target for Alpine v3

[2020-12-18 11:43] ryangjchandler commented on #90
I'm going to move this issue into a discussion since it's not directly related to any bugs, etc.

[2020-12-18 11:43] #90 closed

[2020-12-19 19:33] gaslit opened #92 "Consider making Spruce.reset check for the presence of the store before executing"
#75
Related to the above

Apart from silly developer mistakes, I think this can be really useful. For example, I will clear the Spruce.store(s) (plural) when the user logs out of his session.

e.g.
    function clearSpruce() {
      if(window.Spruce.store('user') != undefined){
        Spruce.reset('user', { })
      }
..}

But in some cases, the user may not have done certain tasks that initiated

[2020-12-20 16:15] bep opened #93 "Watching changes in nested properties"
I assume this is by design, but I'm throwing it out there:

Currently, this works fine:

[code]

But this does not:

[code]

[2020-12-20 16:35] ryangjchandler commented on #93
Yeah that's correct. I'm planning on adding in support for watching entire objects, it just requires some reworking of the internals.

Might work on this on a livestream later on today tbh.

[2020-12-20 17:52] ryangjchandler commented on #93
@bep Would you expect to receive the key of the prop changed in the callback?

[2020-12-20 19:13] bep commented on #93
No (that would possibly be useful in some situations, but I think that could be done by setting up multiple watchers)).

[2020-12-21 11:50] #93 closed

[2020-12-21 12:02] ryangjchandler commented on #93
@bep This is now available with v2.4.0.

[2020-12-21 12:03] ryangjchandler opened #95 "Add a new `set` method"
As part of #93, I added a new `Spruce.get()` method. This would accept the "dot notation" for a store's path and return that object, or scalar value.

I think it makes sense to also add `Spruce.set()` for updating a value through the path. Not necessarily useful for Alpine component but in external files, it would be better than doing `Spruce.store('user').name = 'Ryan'` for example.

[2020-12-21 12:04] ryangjchandler opened #96 "Add a new `toggle` method"
Another useful one to go alongside #95 is `Spruce.toggle()`.

This would just be a shorthand for:

[code]

[2020-12-21 12:06] ryangjchandler opened #97 "Add a new `clear` method"
I'd like to add a new `Spruce.clear` method that will erase a persisted store. Currently, this could be done by using `Spruce.reset()` and setting it to an empty object, but `Spruce.reset()` is flawed in terms of naming and is likely going to be removed in v3.0.

[2020-12-21 12:10] #92 closed

[2020-12-21 12:19] bep commented on #93
That was fast! Much appreciated.

[2020-12-21 12:32] ryangjchandler commented on #93
@bep I already had an implementation in mind so it wasn't too difficult. Re-open this issue if you find any problems with it.

[2020-12-21 21:05] #95 closed

[2020-12-21 21:07] #96 closed

[2020-12-21 21:11] #97 closed

[2020-12-21 21:12] ryangjchandler opened #101 "Allow accessing `get`, `set`, `toggle` and `clear` on `$store`"

[2020-12-21 21:19] #101 closed

[2020-12-28 14:53] zevaverbach opened #103 "typo in the docs -- "NPM (Recommended)""
https://docs.ryangjchandler.co.uk/spruce/installation#npm-recommended

Sorry, couldn't find the docs in this repo or anywhere else: I think you meant "CDN (Recommdned)".

[2021-01-07 09:54] caplod opened #104 "Performance issues when adding or removing (large) objects"
I have a shopping cart app where you can shop playing cards.

If I add a Object (ex. deckToAdd) to decks[] it is really slow.
Even worse if the cards Array is bigger than in the example.
it takes sometimes like 10 seconds.

removing a deck it is also really slow.

to debug I added the function findDecks.
when you push to decks[] it is running for every card (in my example like 20 times)

Should it

[2021-01-07 15:19] ryangjchandler commented on #104
Thanks for opening this issue @caplod.

I haven't looked into this too deeply yet but I'm guessing it's because Spruce has to recursively go through each item in a Proxy to check if it is an `Array` or `Object` and then recursively wrap those items in a `Proxy`.

For each update made to a Proxy, the relevant Alpine components will be updated. I'm guessing for each `card` that gets wrapped in a Pro

[2021-01-15 18:46] fabu-gharbieh opened #105 "watchers not working in V2.5"
In V2.5 it seems that watchers won't get triggert anymore. The data is being saved correctly to the store, but the watchers are not reacting. When I downgrade back to V2.3 everything is working fine.

Here's sample code:

[code]

[2021-01-15 19:13] ryangjchandler commented on #105
I haven't actually tried, but calling `reset` won't run watchers I don't think.

[2021-01-15 20:06] fabu-gharbieh commented on #105
Ok, I understand. It seems like reset doesn't trigger watch anymore. It used to do it in V2.3. I will try to use Setters instead. Thanks

[2021-01-15 20:24] ryangjchandler commented on #105
That's a breaking change on my part, `reset` was never supposed to trigger watchers. Sorry for the trouble! I can release a patch tomorrow that reverts this behaviour!

[2021-01-15 22:16] breadthe commented on #105
I noticed some functionality recently broke on one of my apps without touching anything.

It's partially my bad because I was pulling from the CDN like so `<script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/spruce@2.x.x/dist/spruce.umd.js"></script>`.

I tested with `<script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/spruce@2.5.x/dist/spruce.umd.js"></script>` - still broken. Then I

[2021-01-16 18:06] ryangjchandler commented on #105
@breadthe What functionality exactly?

[2021-01-18 12:05] #105 closed

[2021-01-18 12:08] ryangjchandler commented on #105
@fabu-gharbieh @breadthe Sorry for the delay on this one, been a bit busy! Please try upgrading to v2.5.1 which includes a patch for this problem.

If you're interested in the solution, you can find the changes and brief explanation here, #106.

[2021-01-18 12:08] ryangjchandler opened #107 "Check for store existence before resetting"

[2021-01-18 12:09] ryangjchandler opened #108 "Add support for persisting stores at runtime"

[2021-01-20 04:38] MarcGodard opened #109 "Love your library, but how do you unwatch?"
I am building a web app without using any frameworks, and your library is a great help. Just wondering if there is a way to unwatch?

[2021-01-20 10:00] ryangjchandler commented on #109
There's not actually a method for this at the moment. I'll add this in and make a release.

[2021-01-20 11:50] ryangjchandler opened #110 "Fix x-for regression in 2.5.1"

[2021-01-20 11:59] ryangjchandler opened #111 "Fix calling helper methods on any store object"

[2021-01-20 12:13] ryangjchandler commented on #110
Closed by #112.

[2021-01-20 12:13] #110 closed

[2021-01-20 12:14] #111 closed

[2021-01-20 12:16] #107 closed

[2021-01-20 12:18] ryangjchandler commented on #105
@heyfadii I've had to revert the changes from #106 as it had a knockon effect on other features. I'll be releasing v2.5.2 later on with this reverted change, so please be aware that your "problem" will still exist.

I should make it clear that my original intention with `Spruce.reset()` was to make it a **hard reset**, meaning watchers, state, etc will be lost.

If you think this feature is still

[2021-01-20 14:26] MarcGodard commented on #109
Can I also recommend a method that gets all the watchers for a specific variable?

[2021-01-20 14:27] ryangjchandler commented on #109
You sure can!

[2021-01-20 14:29] mikestempien opened #115 "Watching persistent store results in an error"
Appears that `>=2.4.0` breaks something with persistent object store + watch combo

[code]

Results in:

`Uncaught TypeError: Cannot read property 'has' of undefined at Object.watch (spruce.umd.js:1)`

[2021-01-20 14:59] ryangjchandler commented on #115
@mikestempien Have you tried upgrading to latest version?

[2021-01-20 15:07] ryangjchandler commented on #115
@mikestempien Have you got a CodePen or something similar that can reproduce this problem too. I'm not able to get this error using the code you provided above (it did unveil another issue though, so thanks).

[2021-01-20 15:13] mikestempien commented on #115
@ryangjchandler yes, `2.5.2` today. You may need to throw alpinejs in.
See https://jsfiddle.net/y7ajfwgh/

[2021-01-20 15:53] ryangjchandler commented on #115
@mikestempien Here is a JSFiddle that works: https://jsfiddle.net/qh0wxe4u/1/

[2021-01-20 16:56] ryangjchandler commented on #115
@mikestempien Comparing our 2 examples, the only difference between them is the order the `<script>` tags are included.

[2021-01-20 17:18] #115 closed

[2021-01-20 17:21] ryangjchandler commented on #115
@mikestempien I've tested with the changes made in #116 and it fixed the problem. Please upgrade to v2.5.3 https://github.com/ryangjchandler/spruce/releases/tag/v2.5.3

[2021-01-20 17:26] mikestempien commented on #115
Confirming, it works with `2.5.3`. Thanks for looking into it, really appreciate it.

[2021-01-20 17:30] ryangjchandler commented on #115
No worries, that's what I'm here for!

[2021-01-21 10:37] #109 closed

[2021-01-21 15:12] ryangjchandler opened #118 "Improve efficiency of persisted stores"
Currently, when any property is updated, all of the persisted stores are updated.

Ideally, it would only push the current store if it needs to be persisted.

[2021-01-22 16:15] MarcGodard opened #119 "Hooks don't work from module"
Hooks fire here:

[code]

but not in the `main.js` file here:

[code]

[2021-01-22 17:00] ryangjchandler commented on #119
@MarcGodard I've got a feeling `type="module"` is causing the problem here and mssing with the order of execution.

[2021-01-22 17:03] MarcGodard commented on #119
Yeah that is what I am thinking too. Because they are deferred by default... Will keep playing with this and close the issue when / if I figure it out.

[2021-01-22 17:15] MarcGodard commented on #119
I found another work around that works for me, so I will close this!

[2021-01-22 17:15] #119 closed

[2021-01-22 20:54] #118 closed

[2021-01-23 20:43] MarcGodard opened #121 "Error when watching by dot notation"
Works: `Spruce.watch('color', () => {})`

Errors: `Spruce.watch('color.dark', () => {})`

[2021-01-23 22:13] ryangjchandler commented on #121
@MarcGodard What is the error?

[2021-01-23 22:24] ryangjchandler commented on #121
@MarcGodard I've got a CodePen here with a dot-notated watcher and it all seems to be working fine: https://codepen.io/ryangjchandler/pen/ZEpNPjK

[2021-01-24 16:07] MarcGodard commented on #121
I get the error `Uncaught TypeError: e is undefined`
When I change it to the following it all works:

[code]

Will explore this error in detail later this week.

[2021-01-26 18:56] ryangjchandler commented on #121
@MarcGodard Did you get any further with this?

[2021-01-26 18:59] ryangjchandler opened #122 "Fix reset breaking null stores"
Currently, the reset method will only actually reset a store if its value at that point in time is truthy.

This is problematic because it's technically possible to initial a store with `null`.

This should instead check if the return value is `undefined` instead.

[2021-01-26 22:42] MarcGodard commented on #121
Not yet, sorry this is for a fun project. I will close for now but we can reopen if and when i run into this again.

[2021-01-26 22:42] #121 closed

[2021-01-26 23:37] Pixney-William commented on #83
Personally i had to include Spruce before, or it threw `Alpine Error: "ReferenceError: $store is not defined"`

[2021-01-30 22:35] MarcGodard commented on #122
I was just going to ask you if you can remove a store with reset using null.

[2021-02-01 00:07] #122 closed

[2021-02-01 15:34] bjoern-flagbit commented on #18
Nice. I would need this now.

Maybe I just create the dist locally or you wanna provide this also like with your releases like alpinejs is doing?

[2021-02-02 13:12] ryangjchandler opened #124 "Add a new extensions API"
I think a new extensions API would be nice. This would let people add new methods to the `$store` magic variable. For example, you might wish to create an extension so Spruce stores can be synced with a Livewire component.

[2021-02-02 13:40] ryangjchandler opened #125 "Add a new `call` method"

[2021-02-02 13:42] #125 closed

[2021-02-02 13:43] ryangjchandler opened #127 "Fix `watchers` property / method"

[2021-02-02 13:46] #127 closed

[2021-02-02 13:49] ryangjchandler opened #129 "Refactor core object"

[2021-02-03 07:14] bjoern-flagbit commented on #18
You need to add core-js like:
`yarn add core-js --dev`

Edit **babel.config.js** file to this
[code]
And then run:
`yarn build`

[2021-02-04 11:31] Pixney-William opened #130 "[Spruce] You have already initialised a persisted store. Changing the driver may cause issues."
To start with, i use bundlers.

I then import spruce and set it to use Session storage:
[code]

After that i set my stores. However, doing it this way a warning message shows up in the browser:
`[Spruce] You have already initialised a persisted store. Changing the driver may cause issues.`

Should i ignore the warning of am i setting the Storage wrong?

[2021-02-04 11:37] ryangjchandler commented on #130
@Pixney-William Are you calling `Spruce.store()` before setting `Spruce.persistUsing`?

[2021-02-04 11:41] Pixney-William commented on #130
Sorry for wasting your time. I missed that Spruce was set to the window automatically so it was my own fault duplicating things :(

[2021-02-04 11:41] #130 closed

[2021-02-07 14:03] MarcGodard opened #131 "feature request for watchers"
When watching a variable, get old value too.

[2021-02-07 14:58] ryangjchandler commented on #131
This used to be a feature actually. I removed it to be more inline with Alpine's watchers.

[2021-02-07 15:10] MarcGodard commented on #131
Ahh, I understand.

[2021-02-07 15:10] #131 closed

[2021-02-09 16:40] jonasfeige opened #132 "Cannot access store array"
Hi there.

Spruce is amazingly helpful, thank you! However, I just ran into a small problem and cannot figure out what is causing it:
I am unable to access `$store` props with the type of `array`. No problems using strings or booleans. Not sure if I am doing something wrong or this is unintended? Here is a simple CodePen that logs items to the console. The saved string works fine, the empty array

[2021-02-09 17:00] ryangjchandler commented on #132
@jonasfeige Spruce wraps any `Array` or `Object` types in `Proxy` instances so that it can monitor any changes being made. This functionality is actually correct and not a bug. Without it, Spruce wouldn't work correctly.

If you _need_ it to log out the `Array` correctly, you could always use: `console.log([...this.arr])`.

[2021-02-09 17:00] #132 closed

[2021-02-09 21:42] #129 closed

[2021-02-23 19:43] ryangjchandler opened #134 "Add `Spruce.delete()` and `Spruce.deleteAll()`"

[2021-02-25 16:49] phijma opened #135 "Have a problem with @click.away"
Before using Spruce, this worked fine:

[code]

Now with Spruce I've got this:

[code]

The problem is. As soon as I open the modal, this `$store.modal.close()` runs, closing the modal and therefore not showing up at all.

[2021-02-25 18:44] ryangjchandler commented on #135
@phijma Please try and re-produce in a CodePen / JSFiddle.

[2021-02-25 18:57] phijma commented on #135
@ryangjchandler here you go: https://codepen.io/phijma/pen/KKNZOpV

[2021-02-25 19:09] ryangjchandler commented on #135
@phijma To be completely honest, I don't think this is a bug. When you click the button, you are _actually_ clicking outside of the `<p>` tag so it should be calling the `close` function.

[2021-02-25 19:10] phijma commented on #135
So it's the other method that is a bug?

[2021-02-25 19:11] ryangjchandler commented on #135
I guess so - Alpine should probably be behaving differently to how it is.

[2021-02-25 19:13] phijma commented on #135
Alright, in that case: this issue can be closed. Thanks!

[2021-02-25 19:16] phijma commented on #135
BTW @ryangjchandler. Do you know a way in which I could do this correctly?

[2021-02-25 20:37] phijma commented on #135
Last question. Same behavior with ‘<template x-if...>’ instead of ‘<div x-show...>’. Is that expected as well?

[2021-02-25 20:38] ryangjchandler commented on #135
Not sure what you mean..

[2021-02-25 20:39] phijma commented on #135
Edited.

[2021-02-25 21:50] phijma commented on #135
@ryangjchandler FYI: https://github.com/alpinejs/alpine/issues/1132#issuecomment-786249320

[2021-02-26 08:09] phijma commented on #135
I’ve reopened the issue. As I’m pretty convinced this is not expected behavior. It would be nice if one could expect the same behavior from vanilla Alpine and Spruce.

Please close this once and for all if you don’t agree :-)

I think Spruce will make the element show up (x-show) **immediately** where vanilla alpine does not. As I’m not familiar with the internals it’s just a guess.

[2021-03-01 15:30] ryangjchandler commented on #135
@phijma I'll try to take a look at this later this week, time is a bit tight this week, sorry!

[2021-03-01 16:13] phijma commented on #135
If I can help somehow, let me know.

[2021-03-01 16:20] ryangjchandler commented on #135
@phijma You are right - I forget that Alpine uses a `show` stack so the changes aren't necessarily instantaneous. When you click the button and trigger a Spruce update however, Spruce will instantly ping the Alpine component and cause it to re-render before the `@click.away` handler runs, therefore showing the element.

Not sure what the best way to handle this would be... I'll need to experiment

[2021-03-01 18:54] phijma commented on #135
I've already found another way of hacking around it. The reason to create this issue nonetheless is for clean and predictable code :)

[2021-03-04 11:40] phijma opened #136 "Conditional CSS with persistence"
This is maybe more of a question than a bug report.

Idea:
`<div :class="{ 'max-w-7xl': !$store.isFullScreen }"></div>`

I store the value of a `isFullScreen` variable with Spruce. Now I'd like it to store the users preference so I'm using the persistence option.

But whenever I load any page, you can see the page flash a little (going from full screen to non-full screen). Because it needs to load

[2021-03-04 13:19] phijma commented on #136
Adding `<body x-data x-cloak>` seems to solve it... weird? Guess it's more an alpine thingy

[2021-03-04 13:19] #136 closed

[2021-03-04 13:21] ryangjchandler commented on #136
Yeah, that's more of an Alpine thing. Spruce shouldn't have to concern itself with anything apart from state management.

Be careful using `x-data` on the `<body>` though, since Alpine will have to walk the entire DOM tree of the `<body>` which can have a performance hit on larger pages.

[2021-03-04 14:22] phijma commented on #136
Thanks!

(Yeah, not gonna use that solution :P)

[2021-03-06 17:05] #134 closed

[2021-03-09 11:24] eensander opened #138 "Iterate through array stored in spruce."
Hi,

I use spruce to fetch some data and store it globally. This data is in the form of a JavaScript Object. When I register the object to spruce, it gets converted and seems to add an element '__watchers',

When trying to iterate through the object at a later stage, this __watchers element is getting passed too. When trying to access assumed parameters of this object I obviously get a 'undefined'

[2021-03-09 19:52] ryangjchandler opened #140 "Migrate to Rollup"
Currently using Microbundle since it's so simple to set up, but I'd like to move over to a standard Rollup config so I have a little more control over everything.

[2021-03-09 19:53] ryangjchandler commented on #135
@phijma I'm going to close this because I don't actually think there's anyway of sorting this inside of Spruce. The problem is the fact that Spruce isn't as tightly coupled with Alpine as I'd like it to be, so I can't hook into any of the `showStack` related logic.

Hopefully this can be resolved with the release of Alpine and Spruce v3 in the near future.

[2021-03-09 19:53] #135 closed

[2021-03-09 19:55] #83 closed

[2021-03-09 19:55] #103 closed

[2021-03-09 19:55] #138 closed

[2021-03-09 20:25] #140 closed

[2021-03-11 15:13] ntrrg opened #142 "Support persistence drivers at store level"
Hi! not sure if this would be hard to implement, but what do you think about setting a persistence driver per store?

[code]

[2021-03-11 15:33] ryangjchandler commented on #142
@ntrrg Not a bad idea - I'll investigate this weekend!

[2021-03-31 09:50] iskrisis opened #143 "Documentation website Error 1014 - CNAME Cross-User Banned"
I am getting this error when i go to docs website
![CleanShot 2021-03-31 at 11 49 29](https://user-images.githubusercontent.com/4954323/113125719-3077e900-9217-11eb-95aa-b9f0474dc83f.png)

I don't think its my fault?

Thank you!
Cheers

[2021-03-31 09:55] ryangjchandler commented on #143
@iskrisis I'm aware of the problem. GitBook has a problem with my DNS, despite the fact that I followed their own instructions twice now.

[2021-03-31 10:01] iskrisis commented on #143
Thats unfortunate.
Well i am atleast sending some good energy

![b94](https://user-images.githubusercontent.com/4954323/113127204-c6f8da00-9218-11eb-833f-00258e149d55.jpg)

Cheers

[2021-04-03 16:12] #143 closed

[2021-04-03 19:11] #108 closed

[2021-04-03 19:11] #124 closed

[2021-04-07 07:14] kilianso opened #144 "Accessing dynamic store keys"
Hello! Great repo.

I have a scenario where I fetch data from an API and try to create a unique store object for each entry of the array in the response. Here's an example (using Pug)

[code]

Now the problem is, how do I access this dynamically created store key using the entry.id of the x-for loop?
I tried something like this, but it's not working:

[code]

How to solve this? Or any tip for anot

[2021-04-11 16:51] rehhouari commented on #142
I second this

[2021-04-11 16:59] rehhouari commented on #144
`$store['plan-'+entry.id]` and ` $store['plan-'+entry.id].name` should work.
$store is an object, and object elements can be accessed with .dot syntax as well as brackets[].

so your code would be:
[code]

Also, consider using Github's new feature, discussions, for such questions since this isn't an issue with Spruce itself ^^

[2021-04-11 17:19] ryangjchandler commented on #144
@rehhouari Thanks for responding to this one. That's correct, `$store` is an object so you'll need to use the `[]` syntax when accessing dynamic keys.

[2021-04-11 17:19] #144 closed

[2021-04-11 17:19] ryangjchandler commented on #142
Let me have a look at this one right now.

[2021-04-11 17:46] ryangjchandler commented on #142
@rehhouari @ntrrg Please see the PR above. I'll be merging and releasing soon.

[2021-04-11 17:49] #142 closed

[2021-04-11 20:06] ntrrg commented on #142
Great! thanks for your work

[2021-05-01 10:13] jsuski opened #148 "Bump version from 2.6.3 to latest in npm"
@ryangjchandler please :)
https://www.npmjs.com/package/@ryangjchandler/spruce

[2021-05-03 08:16] rickvdbroek opened #149 "Watcher not working: e.__watchers.has is not a function"
I really like the Spruce library as an addition to AlpineJS however I get the following error when watching a persisted store `e.__watchers.has is not a function`. Sometimes it works but when I refresh the browser the error pop's up. So here is the code:

**Javascript**
[code]
**HTML**
[code]

Hereby also the Codesandbox link [https://codesandbox.io/s/jolly-volhard-3kjsp?file=/index.html:0-872](ht

[2021-05-03 14:57] ryangjchandler commented on #148
My NPM account has been locked, I'm waiting for their support team to resolve the issue. Sorry for the inconvenience.

[2021-05-03 14:58] ryangjchandler commented on #149
Hi @rickvdbroek, would you be able to upgrade to the latest version. #148 mentions an issue I'm having with NPM so I can't actually publish the latest version there.

You should be able to use the CDN version for now though.

[2021-05-03 20:33] rickvdbroek commented on #149
@ryangjchandler Thanks for the quick response, I'll check it tomorrow to see if the latest version will fix things. However CDN is not the optimal way of including Spruce in the project I'm working on. For time being it will be sufficient enough, any idea on  when a new NPM release will be out?

[2021-05-03 20:38] ryangjchandler commented on #149
I'm waiting for the NPM support team to respond, they're surprisingly slow. It looks like the 2FA on my account failed multiple times and has since been locked, meaning I can't login or publish anything from the CLI either.

[2021-05-04 16:21] ryangjchandler commented on #148
@jsuski The NPM issues have been resolved and Spruce is now up-to-date.

[2021-05-04 16:21] #148 closed

[2021-05-04 16:21] ryangjchandler commented on #149
@rickvdbroek could you try upgrading to the NPM release please. The issues have been resolved and Spruce is now up-to-date.

[2021-05-05 07:37] rickvdbroek commented on #149
@ryangjchandler Thanks for the update, glad the NPM issues are resolved! However my issue still remains, not perse the error  `e.__watchers.has is not a function` but the watcher doesn't listen to nested objects. See [https://codesandbox.io/s/jolly-volhard-3kjsp?file=/src/index.ts](https://codesandbox.io/s/jolly-volhard-3kjsp?file=/src/index.ts).

When you check or uncheck the electricity checkbox

[2021-05-10 14:09] tvdr opened #151 "error when only getter is defined for property"
Rollup enables strict mode by default, which then throws TypeError when no setter is defined for an object property getter (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Getter_only)

[2021-05-10 14:13] ryangjchandler commented on #151
@tvdr Would you be able to provide any more information on your problem?

[2021-05-10 14:34] tvdr commented on #151
Sure, thanks for the quick reply.

when using the below store obejct

[code]
(sorry for the hungarian variable names)

observable.js throws "Uncaught TypeError: Cannot set property orakforcalendar of #<Object> which has only a getter"

While debugging, i found that it works until version 2.6.4, when you migrated to build with rollup.

Rollup emits `'use strict';`  by default in the dist file, whic

[2021-05-10 14:37] ryangjchandler commented on #151
Okay, this can be fixed by setting `strict: false` on the output.

[2021-05-10 14:44] ryangjchandler commented on #151
Resolved in v2.7.1.

[2021-05-10 14:44] #151 closed

[2021-06-03 20:04] RichardAnderson opened #152 "$dispatch not working (only on last element) when looping over Spruce Arrays"
**Issue Summary:**
When looping using template and x-for an array stored in spruce, where an event needs to be dispatched, and $dispatch is used in-line or via passthrough, events are not dispatched for the last element within the array.

NOTE:  This cannot be replicated when just using Alpine (e.g.: https://jsfiddle.net/racsuk/b94qm023/)

**Replication Steps:**

Full example can be seen in the fo

[2021-06-03 20:22] ryangjchandler commented on #152
@RichardAnderson It looks like the problem occurs **only** when `$dispatch` is called **after** removing the item from the array.

Here's a fork of your fiddle where the order has been swapped, it works fine - https://jsfiddle.net/7h4zc1fy/1/

I'm guessing the reason that this is causing an issue is that when the item is removed the array, Spruce instantaneously tells Alpine to update (hence remov

[2021-06-03 20:32] RichardAnderson commented on #152
@ryangjchandler thanks for the fast response!  Loving Spruce, thanks for all the hard work!

Unfortunately this is not possible - as I am using the data in spruce to submit the items to an API, and dispatching the event before removing the item submits all items to the API.   The reason I feel this is still an issue, is that it works for all elements, consistently I might add, apart form the last.

[2021-06-03 20:34] ryangjchandler commented on #152
Right, I see now. Let me debug this a little further & see what I can find for you.

[2021-06-03 20:39] RichardAnderson commented on #152
Just for reference:
https://user-images.githubusercontent.com/860443/120708922-1925d800-c4b4-11eb-90a1-c95d0ff9e393.mp4

Works for item 1, 2 & 3 but not 4 (or the last element)

[2021-06-07 15:45] Wurielle commented on #18
It would be nice to have an alternative solution for at least IE11.
If anyone managed to solve this issue with their module bundler, feel free to share every steps.
The answer above didn't work for me and I tried to hack the source files without success either..

[2021-06-10 20:03] #104 closed

[2021-06-19 23:57] rubo77 commented on #104
so when will v 3.0.0 be released?

[2021-09-24 05:26] rizkhal commented on #38
thanks for this great package

i use alpine3 and when i remove the `defer` tag, i have any error because alpine need `defer` with livewire, any solution?

[2021-09-24 06:50] chapmanjacobd commented on #38
Spruce [only supports alpine2](https://github.com/ryangjchandler/spruce#-spruce)

[2021-10-06 09:47] stuymedova commented on #103
Sorry, it seems the typo is still in place

[2021-12-31 08:40] mansoorkhan96 opened #153 "Not able to use Spruce with imports / without cdn"
I am trying to use spruce with alpine.js for a chrome extension. I am loading spruce from node modules in a build file named popup.js
This is what I am doing.
[code]

The HTML is the same as from docs.
[code]

I am getting the following error:
![image](https://user-images.githubusercontent.com/51432274/147812897-e09c1e92-a84d-4cdb-8bff-5ed3b56d4aed.png)

[2021-12-31 09:39] ryangjchandler commented on #153
@mansoorkhan96 Unfortunately, Spruce doesn't receive any updates anymore and I'd highly recommend using Alpine 3.x and `Alpine.store()`.

[2021-12-31 10:13] mansoorkhan96 commented on #153
@ryangjchandler ah, ok great. I just had a look. I am wondering if it supports persisting?

[2021-12-31 10:48] mansoorkhan96 commented on #153
I could persist data with spruce by giving the third param to `store()` seems like it's missing from alpine.

[2021-12-31 11:21] ryangjchandler commented on #153
You can use Alpine.persist I believe.

[2021-12-31 11:21] #153 closed